html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.slider-text {
  position: absolute;
  z-index: 99;
  color: white;
  font-size: 120pt;
  text-shadow: -1px 3px 3px #9f9931,
				  3px 3px 3px #9f9931,
				  3px -1px 0 #9f9931,
				  -1px -1px 0 #9f9931;
}

.image-container > div {
    position: unset !important;
}

.image-container > .image {
  object-fit:fill;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.logo-encanto {
  max-height: 65px;
}

.logo-encanto-bgr {
  max-width: 60%;
  height: auto;
}

.btn-encanto {
  color: white;
  font-weight: bold;
  background-color: #9f9931;
}

.title-encanto {
  color: #9f9931;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
